<%- include("includes/header.ejs") %>

    <%- include("includes/navbar.ejs") %>

        <div class="pagenot">
            <img src="https://img1a.flixcart.com/www/linchpin/fk-cp-zion/img/error-500_f9bbb4.png" alt="">
            <a href="http://localhost:3002/listings">Go to Listings</a>
        </div>


        <%- include("includes/footer.ejs") %>