<<%- include("../includes/header.ejs") %>

    <%- include("../includes/navbar.ejs") %>



        <div class="container mt-5">
            <h1>Signup page</h1>
            <hr>
            <form action="/user/signup" method="post">
                <div class="mb-3">
                    <label>User Name</label>
                    <input type="text" placeholder="Enter Your Name" class="form-control" name="username">
                </div>
                <div class="mb-3">
                    <label>User Email</label>
                    <input type="email" placeholder="Enter Your Email" class="form-control" name="email">
                </div>
                <div class="mb-3">
                    <label>User Password</label>
                    <input type="password" placeholder="Enter Your Password" class="form-control" name="password">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-success">Sign up</button>
                </div>
            </form>
        </div>


        <<%- include("../includes/footer.ejs") %>